	@font-face {
		  font-family: "Museo300";
		  src: url("http://mams.rmit.edu.au/6crm0fncu40d1.eot");
		  src: url("http://mams.rmit.edu.au/6crm0fncu40d1.eot?#iefix") format("embedded-opentype"),
			   url("http://mams.rmit.edu.au/x3u2oqckf06.ttf") format("truetype"),
			   url("http://mams.rmit.edu.au/ymm4mqckf06.svg#Museo300") format("svg");
		  font-weight: normal;
		}

		@font-face {
		  font-family: "Museo500";
		  src: url("http://mams.rmit.edu.au/6fpj1fncu40d1.eot");
		  src: url("http://mams.rmit.edu.au/6fpj1fncu40d1.eot?#iefix") format("embedded-opentype"),
			   url("http://mams.rmit.edu.au/nwhtz3g0e17.ttf") format("truetype"),
			   url("http://mams.rmit.edu.au/9u52z3g0e17.svg#Museo500") format("svg");
		  font-weight: normal;
		}
      html,
      body
		{
        margin: 0px;
        padding: 0px;
        color: white;
		font-family: 'Museo500', 'Museo500FF', Arial;
		background-color: #000000;
		}
	  
      header
		{
        font-size:259%;
        font-weight:bold;
        background-color:#FFFFFF;
		color:darkblue;
		padding:10px;
		margin-left: auto;
		margin-right: auto;
		}
	  
	  header *
		{
		vertical-align:middle; 
        margin-right:40px;		
		}

      main
		{
        background-color: #00008B;
	    padding:10px 10px 50px 10px;
		margin-left: auto;
		margin-right: auto;
		min-width: 600px;
		width: 85%;
		}
	  
      nav
		{     
        background-color: #000000;
		color:white;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		}

	  ul
		{
		margin: 0;
		padding: 0;
		list-style-type: none;
		}
	
	  li
		{
		display: inline;
		color: white;
		text-decoration: none;
		}
		
	  a
		{
		color: white;
		text-decoration: none;
		padding: 10px;
		}
	 
	  a:hover
		{
		color: black;
		background-color: #F0F0F0;
		border-radius: 5px;
		}
		
	  footer
		{     
        background-color:#000000;
		color:white;
		padding:4px;
		position: fixed;
		bottom: 0px;
		width: 100%;
		text-align: right;
		}
	  
	  footer *
		{
	    vertical-align:middle;
		}
	  
	 