		@font-face /* font sourced from Google Fonts */
		{
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
		}
		@font-face /* font sourced from Google Fonts */
		{
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v9/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v9/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
		}
		@font-face /* font sourced from Google Fonts */
		{
		font-family: 'Gloria Hallelujah';
		font-style: normal;
		font-weight: 400;
		src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(http://fonts.gstatic.com/s/gloriahallelujah/v6/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/gloriahallelujah/v6/CA1k7SlXcY5kvI81M_R28Y5mSNQmgKshuii2YddNQzE.woff) format('woff');
		}	
		/* Background image sourced from Marit Welker of "welkerphotography.com" and made available under the Creative Commons License*/
		
      html,
      body
		{
        margin: 0px;
        padding: 0px;
        color: white;
		font-family: Open Sans;
		background-image:url("background.jpg");
		background-color:#000000;
		background-size:100%;
		}
	  
      header
		{
        font-size:300%;
		font-weight:bold;
        background-color:#000000;
		color:darkblue;
		padding:5px;
		font-family: Gloria Hallelujah;
		}
	  
	  header *
		{
		text-align:center;
		vertical-align:middle; 		
		}

      main
		{
	    padding:10px 10px 50px 10px; 
		}
	  
      nav
		{     
		font-weight:bold;
		text-align: center;
        color:white;
		padding: 10px;
		/* Code sourced from http://www.colorzilla.com/gradient-editor/ */
		background: #45484d; /* Old browsers */
		background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		/* end of code sourcing */
		}

	  ul
		{
		margin: 0;
		padding: 0;
		list-style-type: none;
		}
	
	  li
		{
		display: inline;
		color: white;
		text-decoration: none;
		}
		
	  a
		{
		color: white;
		text-decoration: none;
		padding: 10px;
		}
	 
	  li>a:hover
		{
		background-color: #00007A;
		border-radius: 3px;
		/* Code sourced from http://www.colorzilla.com/gradient-editor/ */
		background: #000000; /* Old browsers */
		background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #000000 0%,#45484d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
		/* end of code sourcing */
		}
	
	  footer
		{     
        background-color:#000000;
		color:white;
		padding:4px;
		position: fixed;
		bottom: 0px;
		width: 100%;
		text-align: right;
		/* Code sourced from http://www.colorzilla.com/gradient-editor/ */
		background: #1e1e20; /* Old browsers */
		background: -moz-linear-gradient(top,  #1e1e20 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e20), color-stop(100%,#000000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #1e1e20 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #1e1e20 0%,#000000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #1e1e20 0%,#000000 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #1e1e20 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e20', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		/* end of code sourcing */
		}
	  
	  footer *
		{
	    vertical-align:middle;
		}
	  
	 